/* style for profile image*/
.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* style for profile image and profile info summary */
.flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

.profile-picture {
    margin-right: 8%;
}

.profile-picture-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#profile-username {
    margin-bottom: 10px;
    font-weight: bold;
}

.profile-fullname {
    font-weight: 500;
}

.spacing {
    margin-left: 80px;
}

/* remove outline from modal */
.Profile-paper-2 {
    outline: 0;
    border-radius: 5px;
    border: 2px solid rgb(215, 215, 215);
}

/* style for edit icon modal heading */
.heading-h2 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.dispNone {
    display: none;
}

/* style for grid-list-container */
.images-container {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}